/* Estilos gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Geo", serif;
}

header, section h2, section h3, form button {
    font-family: "Audiowide", serif;
    font-weight: normal;
}

/* Estilos de contêiner */

.header {
    background-color: #5d16a0;
    color: #f5dd54;
    font-size: clamp(2rem, 2.5vw , 7rem);
    text-align: center;
}

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #5d16a0;
    display: block;
}

.navbar a{
    float: left;
    color: #f5dd54;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: clamp(0.9rem, 1.5vw, 4rem);    
}

.container {
    display: flex;
    margin: 0 auto; 
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-end;
    max-width: 90vw;
}

section {
    padding: 20px 0;
}

#contact .container {
    display: block;
}

footer {
    background-color: #5d16a0;
    color: #f5dd54;
    font-size: larger;
    padding: 10px auto ;
    margin-top: auto;
    text-align: center;
}   

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-form {
    width: 40%;
    float: left;
    margin-bottom: 8px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.social-media{
    width: 40%;
    float: right;
}

.divright{
    float: left;
    padding-left: 1vw;
    width: 40%;
}

.divleft{
    width: 60%;
    float: left;
    padding-left: 1vw;
    display: flex;
    flex-wrap: wrap;
}

.subtitlesl{
    float: left;
}

.subtitlesr{
    float: right;
}

.subtitlesl,
.contact-form {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtitlesr,
.social-media {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.contact-form form {
    width: 100%;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
/* Estilo dos ícones */

#upper_icons img, #lower_icons img{
    height: clamp(50px, 20vh, 100px); 
    width: fit-content ;
}

/* Estilos diversos */

.navbar a:hover{
    color: #f5dd54;
    text-decoration: underline;
    background-color:#9a8faa
}

.navbar a:visited{
    color: #c2a501;
    text-decoration: none;
}

#topo{
    float: right;
}

.titles{
    flex: 100%;
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    resize: none;
    height: 120px;
}

form button {
    background-color: #7a28c5 ;
    color: #f5dd54;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #9a8faa;
}

input:focus, textarea:focus {
    outline-color: #8a4d9f;
}

/* Background para seções */

#about, #sports, #forfun, #passion, #contact {
    background-size: cover;
    background-position: center;
}
#about, #sports, #forfun, #passion {
    border-bottom: 3px solid #8a4d9f;
}

#about{
    background-image: url(./images/bground_1.jpg);
}

#sports {
    background-image: url(./images/bgound_sports.jpg);
}

#forfun {
    background-image: url(./images/bground_fun01.jpg);
}

#passion {
    background-image: url(./images/bgound_passion.jpg);
}

#contact {
    background-image: url(./images/bground_contact.jpg);
}

/* Estilos de Texto */

h2 {
    font-size: clamp(2rem, 3vw, 5rem);
    color: #7a28c5;
}

h3 {
    font-size: clamp(1.5rem, 2vw, 4rem);
    color: #f0e6ff;
}

p {
    font-size: clamp(1rem, 1vw, 2rem);
    line-height: 1.5;
    color:#f0e6ff;
}

/* Estilos de imagens */

img {
    object-fit: fit-content;
}

/* Responsividade */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .divright{
        float: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}